.dashboardmain {
  /* background-color: red; */
  border: 1px solid black;
  width: 75vw;
}

.productcard {
  background-color: #d1483b;
  width: 45vw;
  margin: 20px;
  padding: 20px;
  /* height: 25vh; */
}
